workflows/n8n/iara-solar-conversation-v2.json
{
  "name": "iara-solar-conversation-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iara-solar/inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1216, -320],
      "id": "7f131d5a-4b77-444f-9a9e-4f90db54a367",
      "name": "Webhook",
      "webhookId": "341ac0bd-6170-4e6c-8c4d-cb60167667b6"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\n\nconst channel = body.channel || 'whatsapp';\nconst channelUserId = body.from || null;\n\nreturn [\n  {\n    json: {\n      channel,\n      channelUserId,\n      sessionId: `${channel}:${channelUserId}`,\n      messageText: body.text || '',\n      attachments: Array.isArray(body.attachments) ? body.attachments : [],\n      receivedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1072, -320],
      "id": "d2e93f7d-90a2-4611-b7dd-8666d6f940fe",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select session_id, context_json\nfrom conversation.conversation_sessions\nwhere session_id = $1\nlimit 1;",
        "options": {
          "queryReplacement": "={{ $json.sessionId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-928, -320],
      "id": "10bcf3ec-223f-4fda-8c94-e1a1ee33a0f2",
      "name": "Load Session",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QiDbPlLPl5afgGOz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Input').first().json;\nconst dbRow = $json;\n\nlet context;\nlet isNew = false;\n\nif (!dbRow || !dbRow.session_id) {\n  isNew = true;\n  context = {\n    session_id: normalized.sessionId,\n    channel: normalized.channel,\n    channel_user_id: normalized.channelUserId,\n    stage: 'discovery',\n    lead: {},\n    energy: {},\n    installation: {},\n    location: {},\n    backend: {},\n    conversation: {\n      missing_fields: []\n    }\n  };\n} else {\n  context = dbRow.context_json || {};\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    sessionId: normalized.sessionId,\n    context,\n    isNewSession: isNew\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-784, -320],
      "id": "992f3eb2-4c94-4c8b-86ca-f31e587d685c",
      "name": "Resolve Session"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é a Iara, trabalha na Iara Solar, uma assistente especialista em energia solar fotovoltaica.\n\nSeu papel NÃO é calcular orçamento.\nSeu papel é conduzir a conversa e estruturar os dados do cliente.\n\nContexto atual da sessão:\n{{ JSON.stringify($json.context) }}\n\nMensagem do usuário:\n{{ $json.messageText }}\n\nResponda APENAS em JSON válido:\n\n{\n  \"entities_to_save\": {\n    \"lead\": {},\n    \"energy\": {},\n    \"installation\": {}\n  },\n  \"missing_fields\": [],\n  \"is_ready_for_quote\": false,\n  \"next_goal\": \"\",\n  \"draft_reply\": \"\"\n}\n\nRegras:\n\n1. Extraia apenas dados explícitos\n2. Não invente informações\n3. Seja conservador\n4. Campos possíveis:\n\nlead:\n- full_name\n- city\n- state\n- address_text\n\nenergy:\n- monthly_consumption_kwh\n- bill_amount_brl\n- connection_type\n- utility_company\n\ninstallation:\n- installation_type (telhado | solo)\n- roof_type\n\n5. missing_fields deve conter:\n- full_name\n- bill_document_or_energy_data\n- installation_type\n- roof_type\n- location\n\n6. is_ready_for_quote = true apenas se tiver:\n- full_name\n- monthly_consumption_kwh\n- bill_amount_brl\n- installation_type\n- roof_type\n\n7. draft_reply deve ser natural, comercial e curto",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-848, -688],
      "id": "ff5e3a96-693a-44a0-8016-9c5cdd6a7893",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-736, -480],
      "id": "cc2f4c35-5885-4f62-974c-291039b4088f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsCode": "// The LLM Chain returns the response in $json.text\nconst rawText = $json.text || $json.output || '';\n\nlet parsed;\ntry {\n  // Strip markdown code fences if the LLM wrapped the JSON\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned);\n} catch (e) {\n  // Fallback: LLM returned something that isn't valid JSON\n  parsed = {\n    entities_to_save: {},\n    missing_fields: [],\n    is_ready_for_quote: false,\n    next_goal: '',\n    draft_reply: 'Desculpe, não entendi muito bem. Pode repetir sua mensagem?'\n  };\n}\n\n// Get the original session data from Resolve Session\nconst base = $('Resolve Session').first().json;\nconst context = JSON.parse(JSON.stringify(base.context || {}));\n\n// Ensure all context sections exist\ncontext.lead         = context.lead         || {};\ncontext.energy       = context.energy       || {};\ncontext.installation = context.installation || {};\ncontext.location     = context.location     || {};\ncontext.conversation = context.conversation || {};\n\n// Merge extracted entities into context\nconst entities = parsed.entities_to_save || {};\nif (entities.lead)         Object.assign(context.lead,         entities.lead);\nif (entities.energy)       Object.assign(context.energy,       entities.energy);\nif (entities.installation) Object.assign(context.installation, entities.installation);\n\n// Update conversation metadata\ncontext.conversation.missing_fields    = parsed.missing_fields || [];\ncontext.conversation.last_user_message = base.messageText;\ncontext.conversation.last_bot_message  = parsed.draft_reply;\n\nreturn [{\n  json: {\n    ...base,\n    context,\n    outboundText: parsed.draft_reply,\n    isReadyForQuote: parsed.is_ready_for_quote === true,\n    llmOutput: parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, -688],
      "id": "a3f1c2d4-8b7e-4f1a-b2c3-d4e5f6a7b8c9",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1c2d3e4-f5a6-7b8c-9d0e-f1a2b3c4d5e6",
              "leftValue": "={{ $json.isReadyForQuote }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-360, -688],
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-f2a3b4c5d6e7",
      "name": "Is Ready for Quote"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json.context || {};\nconst lead = ctx.lead || {};\nconst energy = ctx.energy || {};\nconst installation = ctx.installation || {};\n\nreturn [{\n  json: {\n    ...$json,\n    apiPayload: {\n      lead: {\n        full_name:    lead.full_name    || null,\n        phone:        $json.channelUserId || null,\n        city:         lead.city         || null,\n        state:        lead.state        || null,\n        address_text: lead.address_text || null,\n        source: 'whatsapp'\n      },\n      budget_request: {\n        monthly_consumption_kwh: energy.monthly_consumption_kwh || null,\n        bill_amount_brl:         energy.bill_amount_brl         || null,\n        utility_company:         energy.utility_company         || null,\n        connection_type:         energy.connection_type         || null,\n        installation_type:       installation.installation_type || null,\n        roof_type:               installation.roof_type         || null\n      },\n      kits_limit: 3\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, -688],
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-a3b4c5d6e7f8",
      "name": "Build API Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://iara-solar-api:3000/intake/generate-with-kits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "CHANGE_ME_RUN_scripts/generate-api-key.js_AND_INSERT_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiPayload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [120, -688],
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-b4c5d6e7f8a9",
      "name": "Call Iara Solar API"
    },
    {
      "parameters": {
        "jsCode": "// Response from the Iara Solar API\nconst apiResponse = $json;\nconst quote = apiResponse.quote_version || {};\nconst kits  = apiResponse.suggested_kits || [];\n\n// Original session data (for sessionId, context, etc.)\nconst base = $('Parse LLM Response').first().json;\nconst context = JSON.parse(JSON.stringify(base.context || {}));\n\n// Store quote result in context for future messages\ncontext.backend = context.backend || {};\ncontext.backend.quote_generated = true;\ncontext.backend.quote_id        = quote.id || null;\ncontext.backend.quote_kwp       = quote.estimated_system_kwp || null;\ncontext.backend.quote_price     = quote.estimated_price_brl  || null;\n\n// Build a friendly reply in Portuguese\nconst kwp    = Number(quote.estimated_system_kwp || 0).toFixed(2);\nconst price  = Number(quote.estimated_price_brl  || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\nconst saving = Number(quote.estimated_savings_brl || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n\nlet reply = `Perfeito, ${context.lead.full_name || 'cliente'}! Aqui está sua estimativa inicial:\\n\\n`;\nreply += `⚡ Sistema estimado: *${kwp} kWp*\\n`;\nreply += `💰 Investimento estimado: *${price}*\\n`;\nreply += `💡 Economia mensal estimada: *${saving}*\\n`;\n\nif (kits.length > 0) {\n  reply += `\\n*Kits disponíveis mais próximos do seu perfil:*\\n`;\n  kits.forEach((kit, i) => {\n    const kitPrice = kit.price_cash_brl\n      ? Number(kit.price_cash_brl).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })\n      : 'consultar';\n    reply += `${i + 1}. ${kit.supplier_kit_name} — ${kitPrice} à vista\\n`;\n  });\n}\n\nreply += `\\nEssa é uma estimativa preliminar. Posso passar você para um de nossos consultores para detalhar a proposta. Tem interesse?`;\n\ncontext.conversation.last_bot_message = reply;\n\nreturn [{\n  json: {\n    ...base,\n    context,\n    outboundText: reply\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, -688],
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-c5d6e7f8a9b0",
      "name": "Format Quote Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92dde718-d974-493a-a979-8fc94b64dbfc",
              "leftValue": "={{ $json.isNewSession === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-624, 144],
      "id": "0243a2a1-2ea4-4bac-b13b-15b65bc12734",
      "name": "Is New Session",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversation.conversation_sessions (\n  session_id,\n  channel,\n  channel_user_id,\n  context_json,\n  created_at,\n  updated_at\n)\nvalues (\n  $1,\n  $2,\n  $3,\n  $4::jsonb,\n  now(),\n  now()\n)\nreturning *;",
        "options": {
          "queryReplacement": "={{ $json.sessionId }},{{ $json.channel }},{{ $json.channelUserId }},{{ JSON.stringify($json.context) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-464, 16],
      "id": "a1abd677-d656-4a67-a099-c8eb80611388",
      "name": "Create Session",
      "credentials": {
        "postgres": {
          "id": "QiDbPlLPl5afgGOz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      session_id: $json.sessionId,\n      direction: 'inbound',\n      message_text: $json.messageText || '',\n      payload_json: {\n        channel: $json.channel,\n        channelUserId: $json.channelUserId,\n        messageText: $json.messageText,\n        attachments: $json.attachments || [],\n        receivedAt: $json.receivedAt\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-288, 144],
      "id": "bb6045d3-7eb3-4712-b7b5-d873e5d91f43",
      "name": "Prepare Inbound Message Row"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "conversation",
          "mode": "list",
          "cachedResultName": "conversation"
        },
        "table": {
          "__rl": true,
          "value": "conversation_messages",
          "mode": "list",
          "cachedResultName": "conversation_messages"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "session_id", "displayName": "session_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "direction", "displayName": "direction", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message_text", "displayName": "message_text", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "payload_json", "displayName": "payload_json", "required": false, "defaultMatch": false, "display": true, "type": "object", "canBeUsedToMatch": true},
            {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-128, 144],
      "id": "32b23816-a52d-4bab-a5d4-b9510d4388fd",
      "name": "Save Inbound Message",
      "credentials": {
        "postgres": {
          "id": "QiDbPlLPl5afgGOz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversation.conversation_sessions\nset context_json = $2::jsonb,\n    updated_at = now()\nwhere session_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.sessionId }},{{ JSON.stringify($json.context) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [600, -480],
      "id": "eb7ecbcb-d933-410b-8abd-6467aec66eb9",
      "name": "Update Session Context",
      "credentials": {
        "postgres": {
          "id": "QiDbPlLPl5afgGOz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (!$json.sessionId) {\n  throw new Error('sessionId não encontrado no fluxo');\n}\n\nreturn [\n  {\n    json: {\n      session_id: $json.sessionId,\n      direction: 'outbound',\n      message_text: $json.outboundText || '',\n      payload_json: {\n        sessionId: $json.sessionId,\n        reply: $json.outboundText || '',\n        generatedAt: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -320],
      "id": "a259b6c8-bedd-4f70-9926-98aea0b51a19",
      "name": "Prepare Outbound Message Row"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "conversation",
          "mode": "list",
          "cachedResultName": "conversation"
        },
        "table": {
          "__rl": true,
          "value": "conversation_messages",
          "mode": "list",
          "cachedResultName": "conversation_messages"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "session_id", "displayName": "session_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "direction", "displayName": "direction", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message_text", "displayName": "message_text", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "payload_json", "displayName": "payload_json", "required": false, "defaultMatch": false, "display": true, "type": "object", "canBeUsedToMatch": true},
            {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [600, -160],
      "id": "7cef5d78-4ea2-4047-a734-f9c8de635c92",
      "name": "Save Outbound Message",
      "credentials": {
        "postgres": {
          "id": "QiDbPlLPl5afgGOz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ok: true,\n      sessionId: $json.sessionId,\n      reply: $json.outboundText || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -640],
      "id": "23803b3e-004b-4671-9c1a-ba2eaa914d32",
      "name": "Prepare Webhook Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [800, -640],
      "id": "8f5c8696-7e93-41fa-8b82-5412ab9eb398",
      "name": "Return Message"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Webhook": {
      "main": [
        [{ "node": "Normalize Input", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Input": {
      "main": [
        [{ "node": "Load Session", "type": "main", "index": 0 }]
      ]
    },
    "Load Session": {
      "main": [
        [{ "node": "Resolve Session", "type": "main", "index": 0 }]
      ]
    },
    "Resolve Session": {
      "main": [
        [
          { "node": "Is New Session", "type": "main", "index": 0 },
          { "node": "Basic LLM Chain", "type": "main", "index": 0 }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [{ "node": "Parse LLM Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [{ "node": "Is Ready for Quote", "type": "main", "index": 0 }]
      ]
    },
    "Is Ready for Quote": {
      "main": [
        [{ "node": "Build API Payload", "type": "main", "index": 0 }],
        [
          { "node": "Prepare Webhook Response", "type": "main", "index": 0 },
          { "node": "Update Session Context", "type": "main", "index": 0 },
          { "node": "Prepare Outbound Message Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build API Payload": {
      "main": [
        [{ "node": "Call Iara Solar API", "type": "main", "index": 0 }]
      ]
    },
    "Call Iara Solar API": {
      "main": [
        [{ "node": "Format Quote Reply", "type": "main", "index": 0 }]
      ]
    },
    "Format Quote Reply": {
      "main": [
        [
          { "node": "Prepare Webhook Response", "type": "main", "index": 0 },
          { "node": "Update Session Context", "type": "main", "index": 0 },
          { "node": "Prepare Outbound Message Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is New Session": {
      "main": [
        [{ "node": "Create Session", "type": "main", "index": 0 }],
        [{ "node": "Prepare Inbound Message Row", "type": "main", "index": 0 }]
      ]
    },
    "Create Session": {
      "main": [
        [{ "node": "Prepare Inbound Message Row", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Inbound Message Row": {
      "main": [
        [{ "node": "Save Inbound Message", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Outbound Message Row": {
      "main": [
        [{ "node": "Save Outbound Message", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Webhook Response": {
      "main": [
        [{ "node": "Return Message", "type": "main", "index": 0 }]
      ]
    },
    "Update Session Context": { "main": [[]] },
    "Save Inbound Message": { "main": [[]] },
    "Save Outbound Message": { "main": [[]] },
    "Return Message": { "main": [[]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "773fd90fcee93888dcb188990d6356eb0122f314ac20cd5e5f4db5f974d2942e"
  },
  "id": "xFRchhRtkuahfs64",
  "tags": []
}
